<%- include('../partials/header.ejs') %>

<div class="edit-blog content">
    <form action="/blogs/edit" method="POST">
        <h2>Edit Blog</h2>
        <label for="title">Blog title</label>
        <input type="text" id="title" name="title" value="<%= blog.title %>">
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>">
        <label for="body">Blog body</label>
        <textarea id="body"><%= blog.body.replace(/<br>/g, '\n') %></textarea>
        <input type="hidden" id="processedBody" name="body">
        <input type="hidden" id="id" name="_id" value="<%= blog._id %>">
        <button type="submit" disabled>Save</button>
    </form>
</div>

<script>
    const form = document.querySelector('form');
    const title = document.querySelector('#title');
    const snip = document.querySelector('#snippet');
    const body = document.querySelector('textarea');
    const button = document.querySelector('button[type="submit"]');

    form.addEventListener('submit', () => {
        const blog = document.querySelector('#processedBody');
        blog.value = body.value.replace(/\n/g, '<br>');
    });

    title.addEventListener('input', () => {
        title.value ? title.value = title.value.toLowerCase().replace(/\b\w/g, s => s.toUpperCase()) : "";
    });

    snip.addEventListener('input', () => {
        snip.value ? snip.value = sentenceCase(snip.value) : "";
    });

    form.addEventListener('input', () => {
        title.value && snip.value && body.value ? button.disabled = false : button.disabled = true;
    });
    function sentenceCase(str) {
        return str.replace(/(^|\.\s+)([a-z])/g, (match, group1, group2) => {
            return group1 + group2.toUpperCase();
        });
    }
</script>
