<%- include('./partials/header.ejs') %>

<div class="blogs content">
    <div class="content-header">
        <h2>Latest Posts</h2>
        <div>
            <form class="search-form" action="/blogs/search" method="POST">
                <input class="search-bar" type="text" name="search" placeholder="Search blogs..." autocomplete="false">
                <button class="search-btn" type="submit" disabled><i class="fa-solid fa-search"></i></button>
            </form>
        </div>
    </div>

    <div>
    <% blogs && blogs.map((blog) => { %>
        <div class="blog">
            <p class="author"><%= blog.author.alias %></p>
            <h3><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h3>
            <p class="snippet"><%= blog.snippet %></p>
            <p class="timestamp">
                <%= blog.readingTime %> • 
                <% if(new Date(blog.createdAt) < new Date(blog.updatedAt)){ %>
                    (edited)
                <% } %>
                <%= blog.timestamp %>
            </p>
        </div>
    <% }) %>
    </div>

    <% if (blogs.length === 0) { %>
        <p>No blogs to read yet. 😢</p>
    <% } %>

    <div class="pagination">
        <div>
            <% if ( nextPage ) { %>
            <a href="/blogs?p=<%= nextPage %>"><i class="fa-solid fa-chevron-left"></i> Older Posts</a>
            <% } %>
        </div>
        <div>
            <% if ( prevPage ) { %>
                <a href="/blogs?p=<%= prevPage %>">Latest Posts <i class="fa-solid fa-chevron-right"></i></a>
            <% } %>
        </div>
    </div>
</div>

<script>
    const searchBar = document.querySelector('.search-bar');
    const searchBtn = document.querySelector('.search-btn');
    searchBar.addEventListener('input', () => {
        searchBar.value ? searchBtn.disabled = false : searchBtn.disabled = true;
    })
    searchBar.addEventListener('focus', () => {
        searchBar.value ? searchBtn.disabled = false : searchBtn.disabled = true;
    })
</script>
