<%- include('./partials/header.ejs') %>

<div class="search content">
    <div class="content-header">
        <h2>Search Results</h2>     
        <div>
            <form class="search-form" action="/blogs/search" method="POST">
                <input class="search-bar" type="text" name="search" value="<%= searchTerm %>" placeholder="Search blogs...">
                <button class="search-btn" type="submit" disabled><i class="fa-solid fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="match-count-header">
        <% if(!matchCount) { %>Uh oh! No match found. <% } %>
        <% if(matchCount === 1) { %> 1 match found. <% } %>
        <% if(matchCount > 1) { %> <%= matchCount %> matches found. <% } %>
    </div>
    
    <div>
    <% blogs && blogs.map((blog) => { %>
        <div class="blog">
            <p class="author"><%= blog.author.alias %></p>
            <h3><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h3>
            <p class="snippet"><%= blog.snippet %></p>
            <p class="timestamp">
                <%= blog.readingTime %> • 
                <% if(new Date(blog.createdAt) < new Date(blog.updatedAt)){ %>
                    (edited)
                <% } %>
                <%= blog.timestamp %>
            </p>
        </div>
    <% }) %>
    </div>
        
    <div class="pagination">
        <div>
            <% if ( prevPage ) { %>
                <form action="/blogs/search?p=<%= prevPage %>" method="POST">
                    <input type="hidden" name="search" value="<%= searchTerm %>">
                    <button type="submit"><a><i class="fa-solid fa-chevron-left"></i> Previous Page</a></button>
                </form>
            <% } %>
        </div>
        <div>
            <% if ( nextPage ) { %>
                <form action="/blogs/search?p=<%= nextPage %>" method="POST">
                    <input type="hidden" name="search" value="<%= searchTerm %>">
                    <button type="submit"><a>Next Page <i class="fa-solid fa-chevron-right"></i></a></button>
                </form>
            <% } %>
        </div>
    </div>
</div>

<script>
    const searchBar = document.querySelector('.search-bar');
    const searchBtn = document.querySelector('.search-btn');
    searchBar.addEventListener('input', () => {
        searchBar.value ? searchBtn.disabled = false : searchBtn.disabled = true;
    })
    searchBar.addEventListener('focus', () => {
        searchBar.value ? searchBtn.disabled = false : searchBtn.disabled = true;
    })
</script>
